.game-container{
    width: 100%;
}

#game-area {
    position: relative;
    width: 100%;
    height: calc(100vh - 56px);
    background-color: #000;
    background-image: url('../public/img/space-background.gif');
    background-size: cover;
    overflow: hidden;
}

.ufo {
    position: absolute;
    width: 80px;
    height: 40px;
    background-image: url('../public/img/ufo.png');
    background-size: cover;
    animation: ufo-float 2s infinite ease-in-out;
}

@keyframes ufo-float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#battleship {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    background-image: url('../public/img/battleship.png');
    background-size: cover;
}

#laser {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 5px;
    height: 20px;
    background-color: red;
    display: none;
}

#score, #timer {
    color: #fff;
    position: absolute;
    top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#score {
    left: 10px;
}

#timer {
    right: 10px;
}